{% extends 'base.html.twig' %}

{% block body %}
<div class="book_container">

    <h1> Lawyers Weekly Print Issues Flipbook</h1>

    {% for flipbook in flipbooks %}

        <div class="flipbook-holder">


            <a href="/flipbook/{{ flipbook.id }}">
                <img src="/print_issues/{{ flipbook.name }}/{{ flipbook.image }}1.jpg" width="200px"/>
                <span class="flipbook-title"> {{ flipbook.name|replace({"_":" "})|capitalize }}</span>
            </a>

        </div>

    {% endfor %}
</div>
{% endblock %}
